<div>
  <p><%= t(:rent_creation_date) %><%= @rent.created_at %>
     <%= t(:rent_start) %><%= @rent.from %>
     <%= t(:rent_end) %><%= @rent.to %>.</p>
  <p><%= t(:rent_expiration_final_msg)%></p>
</div>
